loginserver_logpath=../kow_log/loginserver
webserver_logpath=../kow_log/webserver
globalserver_logpath=../kow_log/globalserver
infoserver_logpath=../kow_log/infoserver
crossserver_logpath=../kow_log/crossserver
chatserver_logpath=../kow_log/chatserver
gameserver_logpath=../kow_log/gameserver
gameserver2_logpath=../kow_log/gameserver2
clientserver_logpath=../kow_log/clientserver