loginserver_logpath=./log/loginserver
webserver_logpath=./log/webserver
globalserver_logpath=./log/globalserver
infoserver_logpath=./log/infoserver
crossserver_logpath=./log/crossserver
chatserver_logpath=./log/chatserver
gameserver_logpath=./log/gameserver
gameserver2_logpath=./log/gameserver2
clientserver_logpath=./log/clientserver